<form [formGroup]="proveedorForm">
  <div class="form-container">

    <!-- Nombre -->
    <mat-form-field appearance="outline">
      <mat-label>Nombre del Proveedor</mat-label>
      <input matInput formControlName="nombre" placeholder="Nombre de la empresa o persona">
      <mat-error *ngIf="proveedorForm.get('nombre')?.hasError('required')">
        El nombre es requerido.
      </mat-error>
    </mat-form-field>

    <!-- CUIT -->
    <mat-form-field appearance="outline">
      <mat-label>CUIT</mat-label>
      <input matInput type="text" formControlName="dniCuit" placeholder="20123456789" maxlength="11">
      <mat-error *ngIf="proveedorForm.get('dniCuit')?.hasError('required')">
        El CUIT es requerido.
      </mat-error>
      <mat-error *ngIf="proveedorForm.get('dniCuit')?.hasError('pattern')">
        El CUIT debe tener 11 dígitos sin guiones.
      </mat-error>
    </mat-form-field>

    <!-- Dirección -->
    <mat-form-field appearance="outline">
      <mat-label>Dirección (Opcional)</mat-label>
      <input matInput formControlName="direccion" placeholder="Calle Falsa 123">
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field appearance="outline">
      <mat-label>Teléfono (Opcional)</mat-label>
      <input matInput formControlName="telefono" placeholder="1122334455">
    </mat-form-field>

  </div>
</form>